<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

  
    <link rel="icon" href="../../proyecto-django/proyectoCatastros/administrativo/static/images/piso.png">
    <link rel="stylesheet" type="text/css" href="../../proyecto-django/proyectoCatastros/administrativo/static/css/estilos.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
  </head>

  <body>

    <header>
      <img src="../../proyecto-django/proyectoCatastros/administrativo/static/images/piso.png" alt="My image" class="center">
      <div id="headerDiv">
          <h2>Aplicación Administración</h2>
      </div>
      <br>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

          <a class="navbar-brand">| Bienvenido Bievenido, Grupo Zhumir-A!|</a>        
      
        <a class="navbar-brand" href="http://127.0.0.1:5000/lascasas">Casas</a>
        <a class="navbar-brand" href="http://127.0.0.1:5000/losdepartamentos">Departamentos</a>
        <a class="navbar-brand" href="http://127.0.0.1:5000/laspersonas">Personas</a>
        <a class="navbar-brand" href="http://127.0.0.1:5000/losbarrios">Barrios</a>
      </nav>
    </header>

    <section class="contenido">
    {% block content %}
        
    {% endblock %}
  
    </section>

    <footer>
      <p>Loja-Ecuador</p>
     
    </footer>
  </body>
</html>
