<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
  </head>
  <body>
    <h5>Listado de casas- {{numero_casas}}</h5>

    {% for c in casas %}

    <ol>
      <li><b>Propietario: </b>{{c['propietario']}}</li>
      <li><b>Dirección: </b>{{c['direccion']}}</li>
      <li><b>Barrio: </b>{{c['barrio']}}</li>
      <li><b>Correo: </b>{{c['val_bien']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
