{% extends "master.html" %}

{% block title %}
  Listado de Casas
{% endblock %}

{% block content %}
<button class="btn btn-primary"> <a style="color:white; text-decoration:none;" href="{% url 'crear_casa' %}">Agregar casa</a></button>
<br>
<br>
<section>
<h3>Detalle de la/las {{ numero_casas}} casas existentes</h3>


  <table id="tabla_datos">

    <thead>
      <tr>
        <th>Propietario</th>
        <th>Dirección</th>
        <th>Barrio</th>
        <th>Valor de bien</th>
        <th>Color</th>
        <th>Número de cuartos</th>
        <th>Número de pisos</th>
        <th>Opciones</th>
      </tr>
    </thead>

    {% for c in casas %}
    <tr>
      <td> {{c.propietario}}</td>
      <td> {{c.direccion}}</td>
      <td> {{c.barrio}}</td>
      <td> {{c.val_bien}}</td>
      <td> {{c.color}}</td>
      <td>{{c.num_cuartos}}</td>
      <td>{{c.num_pisos}}</td>
      <td>
        <a href= "{% url 'eliminar_casa' c.id %}"
        onclick="return confirm('¿Está seguro de la eliminación?')" ><i class="fas fa-trash text-danger"></i>
        </a>
        <a  href="{% url 'editar_casa' c.id %}"><i class="fas fa-edit"></i></a>
      </td>

    </tr>
    {% endfor %}
  </table>
</section>
<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}
